In [128]:
import pandas as pd
import numpy as np
import unicodedata
import re

In [69]:
grades = pd.read_csv('data.csv',engine='python')

In [70]:
grades.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA

In [71]:
grades.columns

Index(['Imię', '      Nazwisko', '           Z1(4+1)', '  Z2(4+1)',
       '    Z3(4+1)', '   Z4(4+1)', '   Z5(2+2)', '   Z6(4+1)', '  Z7(4+1)',
       '   Z8(4+1)', '   Z9(4+1)', ' Z10(4+1)', '    Z11(4+1)', '  Z12(4+1)',
       '            Z13(5)', '  Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [72]:
grades.columns = grades.columns.str.strip()

In [73]:
grades.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [74]:
grades.Nazwisko = grades.Nazwisko.str.strip()

In [75]:
def removePolishAccents(text):
    text = text.replace('ł', 'l')
    text = text.replace('Ł', 'L')
    return unicodedata.normalize('NFD', text).encode('ascii', 'ignore').decode('UTF-8')

removePolishAccents("ąśćńżźłóę")

'ascnzzloe'

In [76]:
removeAccentsVectorized = np.vectorize(removePolishAccents)

In [79]:
grades['email'] = removeAccentsVectorized(grades.Nazwisko.str.lower()) + grades['Imię'].str.lower().str[0] + '@student.mini.pw.edu.pl'
grades.email

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wisniewskip@student.mini.pw.edu.pl
3       dabrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wojcikb@student.mini.pw.edu.pl
6        kaminskił@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielinskaj@student.mini.pw.edu.pl
9       szymanskio@student.mini.pw.edu.pl
10        wozniakp@student.mini.pw.edu.pl
Name: email, dtype: object

In [81]:
grades.email.str.cat(sep=', ')

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl, dabrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wojcikb@student.mini.pw.edu.pl, kaminskił@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielinskaj@student.mini.pw.edu.pl, szymanskio@student.mini.pw.edu.pl, wozniakp@student.mini.pw.edu.pl'

In [90]:
column3 = grades['Z1(4+1)'].str.strip()

In [125]:
column3.str.split('+',expand=True)

      0    1
0   2.5  1.0
1   3.0  0.0
2   2.5  0.5
3   0.5  1.0
4   2.0  0.0
5   2.0  1.0
6   4.0  1.0
7   4.0  0.5
8   2.5  0.0
9   2.5  1.0
10  2.0  1.0

In [144]:
i = 2
grades2 = grades.copy()
numberPoints = re.findall(r"Z(\d+)\((\d+)\+(\d+)\)",grades.columns[i])
if len(numberPoints) == 1:
    explodedColumn = grades.iloc[:,i].str.split("+", expand=True)
    grades2["L"+numberPoints[0][0] + "(" + numberPoints[0][1] + ")" ] = explodedColumn.iloc[:,0]
    grades2["D"+numberPoints[0][0] + "(" + numberPoints[0][2] + ")" ] = explodedColumn.iloc[:,1]
    grades2 = grades2.drop(grades2.columns[i], axis=1)


grades2

,Imię,Nazwisko,Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),email,L1(4),D1(1)
0,Anna,Nowak,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA,nowaka@student.mini.pw.edu.pl,2.5,1.0
1,Rafał,Kowalski,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA,kowalskir@student.mini.pw.edu.pl,3.0,0.0
2,Pavlo,Wiśniewski,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA,wisniewskip@student.mini.pw.edu.pl,2.5,0.5
3,Aleksy,Dąbrowski,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA,dabrowskia@student.mini.pw.edu.pl,0.5,1.0
4,Jarosław,Lewandowski,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA,lewandowskij@student.mini.pw.edu.pl,2.0,0.0
5,Bartłomiej,Wójcik,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NA,wojcikb@student.mini.pw.edu.pl,2.0,1.0
6,Łukasz,Kamiński,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NA,kaminskił@student.mini.pw.edu.pl,4.0,1.0
7,Oskar,Kowalczyk,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NA,kowalczyko@student.mini.pw.edu.pl,4.0,0.5
8,Joanna,Zielińska,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA,zielinskaj@student.mini.pw.edu.pl,2.5,0.0
9,Oktawia,Szymański,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA,szymanskio@student.mini.pw.edu.pl,2.5,1.0
10,Patryk,Woźniak,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,NA,wozniakp@student.mini.pw.edu.pl,2.0,1.0

In [156]:
i = 14

grades2 = grades.copy()

numberPoints = re.findall(r"Z(\d+)\((\d+)\)",grades.columns[i])
print(numberPoints)
if len(numberPoints) == 1:
    explodedColumn = grades.iloc[:,i].str.split("+", expand=True)
    grades2["L"+numberPoints[0][0] + "(" + numberPoints[0][1] + ")" ] = explodedColumn.iloc[:,0]
    grades2 = grades2.drop(grades2.columns[i], axis=1)


grades2

[('13', '5')]

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z14(4+1),Z15(5),email,L13(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+1.0,NA,nowaka@student.mini.pw.edu.pl,4.0
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+1.0,NA,kowalskir@student.mini.pw.edu.pl,4.0
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,NA,wisniewskip@student.mini.pw.edu.pl,4.0
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA,dabrowskia@student.mini.pw.edu.pl,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA,lewandowskij@student.mini.pw.edu.pl,NB
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,3.5+0.0,NA,wojcikb@student.mini.pw.edu.pl,4.0
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,4.0+1.0,NA,kaminskił@student.mini.pw.edu.pl,2.0
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,3.0+0.0,NA,kowalczyko@student.mini.pw.edu.pl,4.0
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA,zielinskaj@student.mini.pw.edu.pl,NB
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA,szymanskio@student.mini.pw.edu.pl,NB
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,4.0+1.0,NA,wozniakp@student.mini.pw.edu.pl,2.0

In [225]:
def splitExerciseColumns(grades):
    toDelete = []
    for i in range(2,17):
        numberPointsWithHomework = re.findall(r"Z(\d+)\((\d+)\+(\d+)\)",grades.columns[i])
        numberPointsAtClass = re.findall(r"Z(\d+)\((\d+)\)",grades.columns[i])
        
        if len(numberPointsWithHomework) == 1:
            explodedColumn = grades.iloc[:,i].str.split("+", expand=True)
            grades["L"+numberPointsWithHomework[0][0] + "(" + numberPointsWithHomework[0][1] + ")" ] = explodedColumn.iloc[:,0]
            grades["D"+numberPointsWithHomework[0][0] + "(" + numberPointsWithHomework[0][2] + ")" ] = explodedColumn.iloc[:,1]
            toDelete.append(i)
        elif len(numberPoints) == 1:
            explodedColumn = grades.iloc[:,i].str.split("+", expand=True)
            grades["L"+numberPointsAtClass[0][0] + "(" + numberPointsAtClass[0][1] + ")" ] = explodedColumn.iloc[:,0]
            toDelete.append(i)
            

    
    grades.drop(grades.columns[toDelete], axis=1,inplace=True)
    return grades


grades3 = grades.copy()

In [226]:
changed = splitExerciseColumns(grades3)
changed

,Imię,Nazwisko,email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1),L15(5)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,ZW,ZW,4.0,4.0,1.0,NA
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,4.0,1.0,NA
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,US,1.0,2.5,1.0,1.5,...,ZW,ZW,1.0,0.5,3.5,1.0,4.0,4.0,1.0,NA
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NA
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,ZW,ZW,0.5,1.0,3.0,0.0,4.0,3.5,0.0,NA
6,Łukasz,Kamiński,kaminskił@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0,NA
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,NB,3.5,1.0,4.0,3.0,0.0,NA
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,US,US,0.5,0.0,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NA
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NA
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0,NA

In [227]:
changed = changed.replace(['NA','NB',"NS\.\(.+\)"],"0",regex=True)

In [228]:
changed = changed.replace(['ZW','US'],np.nan,regex=True)

In [230]:
changed

,Imię,Nazwisko,email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1),L15(5)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,NaN,NaN,4.0,4.0,1.0,0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,0,1.0,1.0,0,0,4.0,4.0,1.0,0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,NaN,NaN,1.0,0.5,3.5,1.0,4.0,4.0,1.0,0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0,0,0,0,0,0,0,0,0,0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,NaN,NaN,0.5,1.0,3.0,0.0,4.0,3.5,0.0,0
6,Łukasz,Kamiński,kaminskił@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0,0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,0,3.5,1.0,4.0,3.0,0.0,0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0,0,0,0,0,0,0,0,0,0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0,0

In [281]:
changed2 = changed.copy()

In [282]:
converted = pd.concat([changed2.iloc[:,0:3], changed2.iloc[:,3:30].astype(float)], axis=1)

In [283]:
converted

,Imię,Nazwisko,email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,2.0,0.0,0.5,1.0,NaN,NaN,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,1.0,NaN,NaN,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,1.0,NaN,NaN,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,Łukasz,Kamiński,kaminskił@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,1.0,0.5,0.0,0.0,3.5,1.0,4.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [284]:
for columnIndex in range(3, 30):
    for rowIndex in range(converted.shape[0]):
        if np.isnan(converted.iloc[rowIndex, columnIndex]):
            converted.iloc[rowIndex, columnIndex] = \
                np.mean(np.r_[converted.iloc[:, columnIndex].mean(),\
                              converted.iloc[rowIndex, 3:30].mean()])

In [285]:
withSum = converted.copy()

In [286]:
withSum['Suma'] = withSum.sum(axis=1)
withSum

,Imię,Nazwisko,email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1),Suma
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,2.000000,0.000000,0.5,1.0,1.61,0.961731,4.0,4.0,1.0,40.571731
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,0.000000,1.0,1.0,0.00,0.000000,4.0,4.0,1.0,35.500000
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.118056,1.000000,2.5,1.0,1.5,...,1.291250,0.948042,1.0,0.5,3.50,1.000000,4.0,4.0,1.0,47.357348
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,3.500000
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,14.250000
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.139563,0.816432,0.5,1.0,3.00,0.000000,4.0,3.5,0.0,38.205995
6,Łukasz,Kamiński,kaminskił@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,2.000000,0.000000,0.5,0.5,3.00,1.000000,2.0,4.0,1.0,41.928846
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.000000,0.500000,0.0,0.0,3.50,1.000000,4.0,3.0,0.0,48.000000
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.345903,0.585498,0.5,0.0,1.0,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,8.931401
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,7.500000
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,2.000000,0.500000,4.0,1.0,4.00,1.000000,2.0,4.0,1.0,48.500000

In [299]:
totalNumberOfPoints = 0;

for columnIndex in range(3,30):
    totalNumberOfPoints = totalNumberOfPoints + float(re.findall(r"[LD]\d+\((\d+)\)",withSum.columns[columnIndex])[0])

totalNumberOfPoints

69.0

In [303]:
withSum['Procenty'] = withSum['Suma']/totalNumberOfPoints
withSum

,Imię,Nazwisko,email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1),Suma,Procenty
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.000000,0.5,1.0,1.61,0.961731,4.0,4.0,1.0,40.571731,0.587996
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,1.0,1.0,0.00,0.000000,4.0,4.0,1.0,35.500000,0.514493
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.118056,1.000000,2.5,1.0,1.5,...,0.948042,1.0,0.5,3.50,1.000000,4.0,4.0,1.0,47.357348,0.686338
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,3.500000,0.050725
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,14.250000,0.206522
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.816432,0.5,1.0,3.00,0.000000,4.0,3.5,0.0,38.205995,0.553710
6,Łukasz,Kamiński,kaminskił@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.000000,0.5,0.5,3.00,1.000000,2.0,4.0,1.0,41.928846,0.607664
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.500000,0.0,0.0,3.50,1.000000,4.0,3.0,0.0,48.000000,0.695652
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.345903,0.585498,0.5,0.0,1.0,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,8.931401,0.129441
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,7.500000,0.108696
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,0.500000,4.0,1.0,4.00,1.000000,2.0,4.0,1.0,48.500000,0.702899

In [306]:
withGrades = withSum.copy()

In [308]:
withGrades['Ocena'] = pd.cut(x=withGrades['Procenty'],bins=[0,0.5,0.6,0.7,0.8,0.9,1],labels=[2,3,3.5,4,4.5,5])
withGrades

,Imię,Nazwisko,email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1),Suma,Procenty,Ocena
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.5,1.0,1.61,0.961731,4.0,4.0,1.0,40.571731,0.587996,3.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,1.0,0.00,0.000000,4.0,4.0,1.0,35.500000,0.514493,3.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.118056,1.000000,2.5,1.0,1.5,...,1.0,0.5,3.50,1.000000,4.0,4.0,1.0,47.357348,0.686338,3.5
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,3.500000,0.050725,2.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,14.250000,0.206522,2.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.5,1.0,3.00,0.000000,4.0,3.5,0.0,38.205995,0.553710,3.0
6,Łukasz,Kamiński,kaminskił@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,0.5,3.00,1.000000,2.0,4.0,1.0,41.928846,0.607664,3.5
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,0.0,3.50,1.000000,4.0,3.0,0.0,48.000000,0.695652,3.5
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.345903,0.585498,0.5,0.0,1.0,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,8.931401,0.129441,2.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,7.500000,0.108696,2.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,4.0,1.0,4.00,1.000000,2.0,4.0,1.0,48.500000,0.702899,4.0