In [47]:
import pandas as pd
import numpy as np
import unicodedata

In [69]:
grades = pd.read_csv('data.csv',engine='python')

In [70]:
grades.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA

In [71]:
grades.columns

Index(['Imię', '      Nazwisko', '           Z1(4+1)', '  Z2(4+1)',
       '    Z3(4+1)', '   Z4(4+1)', '   Z5(2+2)', '   Z6(4+1)', '  Z7(4+1)',
       '   Z8(4+1)', '   Z9(4+1)', ' Z10(4+1)', '    Z11(4+1)', '  Z12(4+1)',
       '            Z13(5)', '  Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [72]:
grades.columns = grades.columns.str.strip()

In [73]:
grades.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [74]:
grades.Nazwisko = grades.Nazwisko.str.strip()

In [75]:
def removePolishAccents(text):
    text = text.replace('ł', 'l')
    text = text.replace('Ł', 'L')
    return unicodedata.normalize('NFD', text).encode('ascii', 'ignore').decode('UTF-8')

removePolishAccents("ąśćńżźłóę")

'ascnzzloe'

In [76]:
removeAccentsVectorized = np.vectorize(removePolishAccents)

In [79]:
grades['email'] = removeAccentsVectorized(grades.Nazwisko.str.lower()) + grades['Imię'].str.lower().str[0] + '@student.mini.pw.edu.pl'
grades.email

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wisniewskip@student.mini.pw.edu.pl
3       dabrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wojcikb@student.mini.pw.edu.pl
6        kaminskił@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielinskaj@student.mini.pw.edu.pl
9       szymanskio@student.mini.pw.edu.pl
10        wozniakp@student.mini.pw.edu.pl
Name: email, dtype: object

In [81]:
grades.email.str.cat(sep=', ')

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl, dabrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wojcikb@student.mini.pw.edu.pl, kaminskił@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielinskaj@student.mini.pw.edu.pl, szymanskio@student.mini.pw.edu.pl, wozniakp@student.mini.pw.edu.pl'

In [90]:
column3 = grades['Z1(4+1)'].str.strip()

In [125]:
column3.str.split('+',expand=True)

      0    1
0   2.5  1.0
1   3.0  0.0
2   2.5  0.5
3   0.5  1.0
4   2.0  0.0
5   2.0  1.0
6   4.0  1.0
7   4.0  0.5
8   2.5  0.0
9   2.5  1.0
10  2.0  1.0

In [124]:
import re

re.findall(r"Z(\d+)\((\d+)\+(\d+\))","Z5(4+1)")

[('5', '4', '1)')]