In [5]:
import numpy as np
import pandas as pd

In [6]:
frame1 = pd.DataFrame({
    "A":np.round(np.random.uniform(0,1,5),2),
    "B": ['k', None, 'k', 'm', 'k'],
    "C": [False, True, False, False, True] 
                      })

In [10]:
frame1

      A     B      C
0  0.54     k  False
1  0.38  None   True
2  0.69     k  False
3  0.02     m  False
4  0.81     k   True

In [12]:
pd.set_option("display.notebook_repr_html",True)
frame1

      A     B      C
0  0.54     k  False
1  0.38  None   True
2  0.69     k  False
3  0.02     m  False
4  0.81     k   True

In [13]:
frame1.shape

(5, 3)

In [15]:
frame1.size

15

In [19]:
len(frame1)

5

In [23]:
import seaborn as sns

In [41]:
flights = sns.load_dataset("flights")

In [25]:
frame1.dtypes

A    float64
B     object
C       bool
dtype: object

In [27]:
frame1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
A    5 non-null float64
B    4 non-null object
C    5 non-null bool
dtypes: bool(1), float64(1), object(1)
memory usage: 165.0+ bytes

In [29]:
type(frame1['A'])

pandas.core.series.Series

In [34]:
frame1['A'].values

array([0.54, 0.38, 0.69, 0.02, 0.81])

In [36]:
type(frame1['A'].values)

numpy.ndarray

In [37]:
frame1.A

0    0.54
1    0.38
2    0.69
3    0.02
4    0.81
Name: A, dtype: float64

In [39]:
frame1.get("A")

0    0.54
1    0.38
2    0.69
3    0.02
4    0.81
Name: A, dtype: float64

In [43]:
frame1.columns

Index(['A', 'B', 'C'], dtype='object')

In [45]:
pd.Series(np.r_[np.nan,0:1:4j])

0         NaN
1    0.000000
2    0.333333
3    0.666667
4    1.000000
dtype: float64

## Time variables

In [49]:
pd.Series(pd.date_range("2018-04-14", periods=6, freq='6H'))

0   2018-04-14 00:00:00
1   2018-04-14 06:00:00
2   2018-04-14 12:00:00
3   2018-04-14 18:00:00
4   2018-04-15 00:00:00
5   2018-04-15 06:00:00
dtype: datetime64[ns]

In [51]:
pd.Series(pd.date_range("2018-04-14", periods=3))

0   2018-04-14
1   2018-04-15
2   2018-04-16
dtype: datetime64[ns]

## Category type

In [52]:
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [53]:
flights.month.dtype

CategoricalDtype(categories=['January', 'February', 'March', 'April', 'May', 'June',
                  'July', 'August', 'September', 'October', 'November',
                  'December'],
                 ordered=False)

In [54]:
frame1.dtypes

A    float64
B     object
C       bool
dtype: object

In [55]:
pd.Series(frame1['B'], dtype='category')

0      k
1    NaN
2      k
3      m
4      k
Name: B, dtype: category
Categories (2, object): [k, m]

In [57]:
frame1.B.astype('category')

0      k
1    NaN
2      k
3      m
4      k
Name: B, dtype: category
Categories (2, object): [k, m]

In [58]:
frame1.B = frame1.B.astype('category')

In [59]:
frame1.dtypes

A     float64
B    category
C        bool
dtype: object

In [67]:
pd.Series(pd.Categorical(['a', 'b', 'c', 'a'], categories=['a', 'b', 'c']))

In [78]:
otherCategorial =  pd.Series(pd.Categorical(['a', 'b', 'c', 'a'], categories=['a', 'b', 'c'], ordered=True))

In [64]:
frame1.A.values

array([0.54, 0.38, 0.69, 0.02, 0.81])

In [65]:
pd.cut(frame1.A, np.r_[0,0.25,0.4,0.7,1])

0     (0.4, 0.7]
1    (0.25, 0.4]
2     (0.4, 0.7]
3    (0.0, 0.25]
4     (0.7, 1.0]
Name: A, dtype: category
Categories (4, interval[float64]): [(0.0, 0.25] < (0.25, 0.4] < (0.4, 0.7] < (0.7, 1.0]]

In [66]:
pd.cut(frame1.A, np.r_[0,0.25,0.4,0.7,1], right=False, labels=['etykieta1', 'etykieta2','etykieta3', 'etykieta4'])

0    etykieta3
1    etykieta2
2    etykieta3
3    etykieta1
4    etykieta4
Name: A, dtype: category
Categories (4, object): [etykieta1 < etykieta2 < etykieta3 < etykieta4]

In [79]:
otherCategorial.cat.codes

0    0
1    1
2    2
3    0
dtype: int8

In [83]:
otherCategorial.cat.categories = ['big','medium', 'small']

In [84]:
otherCategorial

0       big
1    medium
2     small
3       big
dtype: category
Categories (3, object): [big < medium < small]

In [85]:
otherCategorial = otherCategorial.cat.reorder_categories(['small', 'medium','big'])

In [86]:
otherCategorial

0       big
1    medium
2     small
3       big
dtype: category
Categories (3, object): [small < medium < big]

In [87]:
otherCategorial = otherCategorial.cat.reorder_categories(['big', 'medium','small'])

In [88]:
otherCategorial

0       big
1    medium
2     small
3       big
dtype: category
Categories (3, object): [big < medium < small]

# Indexies

In [90]:
frame1.index

RangeIndex(start=0, stop=5, step=1)

In [91]:
frame1.columns

Index(['A', 'B', 'C'], dtype='object')

In [92]:
frame1.A.index

RangeIndex(start=0, stop=5, step=1)